<div class="container">

  <app-heading-title [title]="newTitle"></app-heading-title>
  <div class="signup-container">
    <form >
      <div class="form-group">
        <label for="login">Login</label>
        <input id="login" type="text" class="form-control" placeholder="Entrez un login...">
        <span class="notification text-muted"></span>
      </div>
      <div class="form-group">
        <label for="firstname">Nom</label>
        <input id="firstname" type="text" class="form-control" placeholder="Entrez votre nom...">
        <span class="notification text-muted"></span>
      </div>
      <div class="form-group">
        <label for="lastname">Prénom</label>
        <input id="lastname" type="text" class="form-control" placeholder="Entrez votre prénom...">
        <span class="notification text-muted"></span>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" class="form-control" placeholder="Entrez votre email...">
        <span class="notification text-muted"></span>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input id="password" type="password" class="form-control" placeholder="Entrez votre mot de passe...">
        <span class="notification text-muted"></span>
      </div>
      <div class="form-group">
        <label for="password">Confirmation mot de passe</label>
        <input id="password" type="password" class="form-control" placeholder="Confirmez votre mot de passe...">
        <span class="notification text-muted"></span>
      </div>
      <div class="py-4 ">
        <button class="btn btn-outline-warning d-block" id="btn-submit">Je m'inscris <i class="fas fa-sign-in-alt ml-2"></i></button>
      </div>
      <div class="text-center ">
        <a routerLink="/signin" class="text-dark">J'ai déjà un compte ?</a>
      </div>
    </form>
  </div>
</div>
