<footer id="main-footer">
  <div class="container footer">
      <div class="row">
          <div class="col-md-3 col-sm-12" id="footer-conditions">
              <h6 class="footer-title">Conditions Générales</h6>
              <p>Politique de confidentialité</p>
          </div>
          <div class="col-md-3 col-sm-12" id="footer-contact" >
              <h6 class="footer-title">Nous Contacter</h6>
              <p>reservations@contact.com</p>
          </div>
          <div class="col-md-3 col-sm-12" id="footer-media">
              <h6 class="footer-title">Réseaux sociaux</h6>
              <div class="social-links">
                  <i class="fab fa-facebook-square"></i>
                  <i class="fab fa-twitter-square"></i>
                  <i class="fab fa-youtube-square"></i>

              </div>
          </div>
          <div class="col-md-3 col-sm-12" id="footer-partners">
              <h6 class="footer-title">Nos partenaires</h6>
              <pre>
                La Toison D'Or
                Le Théâtre de Poche
                Théâtre National de Belgique
              </pre>
          </div>
      </div>


  </div>
  <div class="copyright-div">
      <p class="copyright  mt-5" style="text-align: center;"> &copy; <span class="copyright-date"></span> Tous droits réservés</p>

  </div>
</footer>
