<div class="container">
  <app-heading-title></app-heading-title>
  <div class="card-list">
    <div class="row  d-md-flex flex-wrap"   >
      <!-- Card item  -->

     <!-- Accordion Bootstrap  -->
     <ngb-accordion #a="ngbAccordion" *ngFor="let card of cardList; let index" class="col-md-6 mb-5" >
      <ngb-panel id="index">
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="d-flex align-items-center flex-column justify-content-around">
            <h5 class="my-3">{{card.title}}</h5>
            <div class="img-thumbnail">
              <img src={{card.image}} alt=" image" width="100%">
            </div>
            <div  class="accordion-footer mt-3 ">
              <h6 class="card-date mr-3">Date: <span class="text-danger ">{{card.date | date:'EE/MM/YY':'fullDate':'fr-FR'}}</span></h6>
              <button ngbPanelToggle class="btn btn-warning px-2 py-1 ml-4">En savoir plus</button>
            </div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <!-- Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
          aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
          sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
          craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
          labore sustainable VHS. -->
          {{card.content}}
        </ng-template>
      </ngb-panel>
     </ngb-accordion>
     <!-- End Accordion Bootstrap  -->
  </div>
</div>
