<div class="container">
  <app-heading-title></app-heading-title>
  <div class="card-list">
    <div class="row row-cols-2 " *ngFor="let card of cardList; let i=index"  >
      <!-- Card item  -->
      <div class="col-md-12 col-sm-12 ">
        <div class="card mb-3" >
          <div class="row no-gutters">
            <div class="col">
              <img src={{card.image}} class="card-img" alt=" tête d'affiche">
            </div>
            <div class="col px-2 py-1">
              <div class="card-body p-3">
                <h5 class="card-title pb-2">{{card.title}} </h5>
                <p class="card-text">
                  {{card.content}}
                </p>
                <p class="card-text pb-2"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
              <div class="card footer">
                <button type="button" class="btn btn-sm btn-warning btn-details">Details</button>
              </div>
            </div>
          </div>
        </div>
         <!-- Modal  -->
         <!--End modal  -->

        </div>
        <!--End card item  -->


    </div>
  </div>
</div>
