<div class="container">
  <app-heading-title [title]="newTitle"></app-heading-title>
  <div class="abonnement-container mb-5">
    <div class="row">

    <!-- abonnement item  -->
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body p-3">
            <h5 class="card-title mt-3 mb-3 text-center">Abonnement mensuel <i class="fas fa-ticket-alt"></i></h5>
            <p class="card-text mb-3 text-center">Détails de l'offre</p>
            <ul class="list-group">
              <li class="list-item"><i class="fas fa-check-circle"></i> Accès illimité</li>
              <li class="list-item"><i class="fas fa-check-circle"></i> Privilège réservation</li>
              <li class="list-item"><i class="fas fa-check-circle"></i> Carte de membre</li>

            </ul>
            <h1>20€/mo</h1>
            <a href="#" type="button" class="btn btn-warning py-2 px-3">Je choisis</a>
          </div>
        </div>
      </div>
      <!-- End abonnement item  -->
      <!-- abonnement item  -->

      <div class="col-sm-4">
        <div class="card" id="card-1">
          <img src="assets/img/img-8.jpg" class="card-img" alt=" card image">
        </div>
      </div>
    <!-- End abonnement item  -->
      <!-- abonnement item  -->
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body p-3">
            <h5 class="card-title mt-3 mb-3 text-center">Abonnement annuel <i class="fas fa-ticket-alt"></i></h5>
            <p class="card-text mb-3 text-center">Détails de l'offre</p>
            <ul class="list-group">
              <li class="list-item"><i class="fas fa-check-circle"></i> Accès illimité</li>
              <li class="list-item"><i class="fas fa-check-circle"></i> Privilège réservation</li>
              <li class="list-item"><i class="fas fa-check-circle"></i> Carte de membre</li>

            </ul>
            <h1>110€/an</h1>
            <a href="#" type="button" class="btn btn-warning py-2 px-3">Je choisis</a>
          </div>
        </div>
      </div>
      <!-- End abonnement item  -->
    </div>
  </div>
</div>
